parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$_FILES in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: Classes/Controller/Form.php

		-
			message: "#^Variable \\$action might not be defined\\.$#"
			count: 1
			path: Classes/Controller/Form.php

		-
			message: "#^Variable \\$step might not be defined\\.$#"
			count: 1
			path: Classes/Controller/Form.php

		-
			message: "#^Variable \\$evaluation might not be defined\\.$#"
			count: 1
			path: Classes/Controller/Form.php

		-
			message: "#^Variable \\$classesArray in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: Classes/Controller/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Controller\\\\ModuleController\\:\\:\\$id\\.$#"
			count: 2
			path: Classes/Controller/ModuleController.php

		-
			message: "#^Variable \\$fieldValue might not be defined\\.$#"
			count: 2
			path: Classes/Finisher/DB.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Finisher\\\\Mail\\:\\:\\$emailObj\\.$#"
			count: 17
			path: Classes/Finisher/Mail.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Finisher\\\\Mail\\:\\:\\$predefined\\.$#"
			count: 1
			path: Classes/Finisher/Mail.php

		-
			message: "#^Variable \\$template might not be defined\\.$#"
			count: 6
			path: Classes/Finisher/Mail.php

		-
			message: "#^Variable \\$tmphtml might not be defined\\.$#"
			count: 1
			path: Classes/Finisher/Mail.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Finisher\\\\Mail\\:\\:\\$emailSettings\\.$#"
			count: 2
			path: Classes/Finisher/Mail.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Finisher\\\\Mail\\:\\:\\$markerBasedTemplateService\\.$#"
			count: 1
			path: Classes/Finisher/Mail.php

		-
			message: "#^Variable \\$found might not be defined\\.$#"
			count: 1
			path: Classes/Finisher/SetLanguage.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Finisher\\\\SubmittedOK\\:\\:\\$templateFile\\.$#"
			count: 1
			path: Classes/Finisher/SubmittedOK.php

		-
			message: "#^Instantiated class parseCSV not found\\.$#"
			count: 1
			path: Classes/Generator/BackendCsv.php

		-
			message: "#^Constant PDF_MARGIN_BOTTOM not found\\.$#"
			count: 1
			path: Classes/Generator/BackendTcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\BackendTcPdf\\:\\:\\$templateCode\\.$#"
			count: 1
			path: Classes/Generator/BackendTcPdf.php

		-
			message: "#^Instantiated class parseCSV not found\\.$#"
			count: 1
			path: Classes/Generator/Csv.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\File\\:\\:\\$filename\\.$#"
			count: 1
			path: Classes/Generator/File.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\File\\:\\:\\$outputPath\\.$#"
			count: 1
			path: Classes/Generator/File.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\File\\:\\:\\$filenameOnly\\.$#"
			count: 1
			path: Classes/Generator/File.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\File\\:\\:\\$formhandlerSettings\\.$#"
			count: 1
			path: Classes/Generator/File.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\File\\:\\:\\$templateCode\\.$#"
			count: 1
			path: Classes/Generator/File.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\TcPdf\\:\\:\\$pdf\\.$#"
			count: 1
			path: Classes/Generator/TcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\TcPdf\\:\\:\\$filename\\.$#"
			count: 1
			path: Classes/Generator/TcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\TcPdf\\:\\:\\$outputPath\\.$#"
			count: 1
			path: Classes/Generator/TcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\TcPdf\\:\\:\\$filenameOnly\\.$#"
			count: 1
			path: Classes/Generator/TcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\TcPdf\\:\\:\\$formhandlerSettings\\.$#"
			count: 1
			path: Classes/Generator/TcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\TcPdf\\:\\:\\$templateCode\\.$#"
			count: 1
			path: Classes/Generator/TcPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Generator\\\\WebkitPdf\\:\\:\\$url\\.$#"
			count: 2
			path: Classes/Generator/WebkitPdf.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Interceptor\\\\AntiSpamFormTime\\:\\:\\$predefined\\.$#"
			count: 1
			path: Classes/Interceptor/AntiSpamFormTime.php

		-
			message: "#^Undefined variable\\: \\$mailto$#"
			count: 2
			path: Classes/Interceptor/IPBlocking.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Interceptor\\\\RemoveXSS\\:\\:\\$removeChars\\.$#"
			count: 2
			path: Classes/Interceptor/RemoveXSS.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Interceptor\\\\RemoveXSS\\:\\:\\$doNotSanitizeFields\\.$#"
			count: 3
			path: Classes/Interceptor/RemoveXSS.php

		-
			message: "#^Variable \\$sanitizedArray might not be defined\\.$#"
			count: 1
			path: Classes/Interceptor/RemoveXSS.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Interceptor\\\\TranslateFields\\:\\:\\$langFiles\\.$#"
			count: 2
			path: Classes/Interceptor/TranslateFields.php

		-
			message: "#^Call to static method newInstance\\(\\) on an unknown class Swift_MimePart\\.$#"
			count: 2
			path: Classes/Mailer/TYPO3Mailer.php

		-
			message: "#^Call to static method fromPath\\(\\) on an unknown class Swift_Attachment\\.$#"
			count: 1
			path: Classes/Mailer/TYPO3Mailer.php

		-
			message: "#^Call to static method fromPath\\(\\) on an unknown class Swift_Image\\.$#"
			count: 1
			path: Classes/Mailer/TYPO3Mailer.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Session\\\\AbstractSession\\:\\:\\$gp\\.$#"
			count: 1
			path: Classes/Session/AbstractSession.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Session\\\\PHP\\:\\:\\$gp\\.$#"
			count: 1
			path: Classes/Session/PHP.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Session\\\\TYPO3\\:\\:\\$gp\\.$#"
			count: 1
			path: Classes/Session/TYPO3.php

		-
			message: "#^Variable \\$timestamp might not be defined\\.$#"
			count: 1
			path: Classes/Utility/GeneralUtility.php

		-
			message: "#^Undefined variable\\: \\$field$#"
			count: 1
			path: Classes/Utility/GeneralUtility.php

		-
			message: "#^Undefined variable\\: \\$uploadedFileName$#"
			count: 1
			path: Classes/Utility/GeneralUtility.php

		-
			message: "#^Constant TYPO3_MODE not found\\.$#"
			count: 1
			path: Classes/Utility/TemplateTCPDF.php

		-
			message: "#^Call to static method checkCaptcha\\(\\) on an unknown class ThinkopenAt\\\\Captcha\\\\Utility\\.$#"
			count: 1
			path: Classes/Validator/ErrorCheck/Captcha.php

		-
			message: "#^Variable \\$info might not be defined\\.$#"
			count: 1
			path: Classes/Validator/ErrorCheck/FileMaxCount.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Validator\\\\ErrorCheck\\\\JmRecaptcha\\:\\:\\$recaptcha\\.$#"
			count: 1
			path: Classes/Validator/ErrorCheck/JmRecaptcha.php

		-
			message: "#^Instantiated class tx_jmrecaptcha not found\\.$#"
			count: 1
			path: Classes/Validator/ErrorCheck/JmRecaptcha.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\Validator\\\\ErrorCheck\\\\SrFreecap\\:\\:\\$freeCap\\.$#"
			count: 1
			path: Classes/Validator/ErrorCheck/SrFreecap.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\AbstractView\\:\\:\\$settings\\.$#"
			count: 1
			path: Classes/View/AbstractView.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\AbstractView\\:\\:\\$predefined\\.$#"
			count: 1
			path: Classes/View/AbstractView.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\File\\:\\:\\$settings\\.$#"
			count: 1
			path: Classes/View/File.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Form\\:\\:\\$errors\\.$#"
			count: 2
			path: Classes/View/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Form\\:\\:\\$settings\\.$#"
			count: 42
			path: Classes/View/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Form\\:\\:\\$masterTemplates\\.$#"
			count: 3
			path: Classes/View/Form.php

		-
			message: "#^Variable \\$conditionResult might not be defined\\.$#"
			count: 4
			path: Classes/View/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Form\\:\\:\\$currentStep\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Call to static method makeCaptcha\\(\\) on an unknown class ThinkopenAt\\\\Captcha\\\\Utility\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Form\\:\\:\\$freeCap\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Form\\:\\:\\$recaptcha\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Instantiated class tx_jmrecaptcha not found\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Variable \\$index might not be defined\\.$#"
			count: 2
			path: Classes/View/Form.php

		-
			message: "#^Variable \\$errorMessage might not be defined\\.$#"
			count: 2
			path: Classes/View/Form.php

		-
			message: "#^Variable \\$successMessage might not be defined\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Variable \\$values might not be defined\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Call to static method inline2TempFile\\(\\) on an unknown class Typoheads\\\\Formhandler\\\\View\\\\TSpagegen\\.$#"
			count: 1
			path: Classes/View/Form.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\Mail\\:\\:\\$settings\\.$#"
			count: 4
			path: Classes/View/Mail.php

		-
			message: "#^Access to an undefined property Typoheads\\\\Formhandler\\\\View\\\\PDF\\:\\:\\$settings\\.$#"
			count: 3
			path: Classes/View/PDF.php

