includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  # Use local .cache dir instead of /tmp
  tmpDir: .cache/phpstan

  parallel:
    # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
    maximumNumberOfProcesses: 5

  level: 9

  checkThisOnly: false
  checkPhpDocMissingReturn: false
  reportUnmatchedIgnoredErrors: true
  paths:
    - %currentWorkingDirectory%/Classes/
    - %currentWorkingDirectory%/Configuration/
    - %currentWorkingDirectory%/pi1/
    - %currentWorkingDirectory%/ext_emconf.php
    - %currentWorkingDirectory%/ext_localconf.php
    - %currentWorkingDirectory%/ext_tables.php

  scanFiles:
    - public/typo3conf/ext/jm_recaptcha/class.tx_jmrecaptcha.php
    - public/typo3conf/ext/formhandler/vendor/parsecsv/php-parsecsv/parsecsv.lib.php

  excludePaths:
    - rector.php
