<f:be.container
  includeRequireJsModules="{
	0:'TYPO3/CMS/Backend/Modal',
	1:'TYPO3/CMS/Backend/DateTimePicker'
	2:'TYPO3/CMS/Formhandler/FormhandlerModule'
  }"
>
	<div class="module">
		<div class="module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation"></div>
			<div class="module-docheader-bar module-docheader-bar-buttons"></div>
		</div>
		<div class="module-body t3js-module-body">
				<f:render section="headline" />

				<f:flashMessages />
				<div id="formhandler-module">
					<f:render section="content" />
				</div>
		</div>
	</div>
</f:be.container>
