{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 500
      }
    },
    {
      "files": "*.{yaml,yml}",
      "options": {
        "printWidth": 500
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 500
      }
    }
  ]
}
