{namespace fh = Typoheads\Formhandler\ViewHelpers}

<f:layout name="Default" />

<f:section name="headline">
	<h1><f:translate key="headline.selectFields" /></h1>
</f:section>

<f:section name="content">
	<f:form class="selectFieldsForm" method="post" action="export">
		<f:form.hidden name="filetype" value="{filetype}" />
		<f:form.hidden name="logDataUids" value="{logDataUids}" />

		<f:if condition="{fields.global -> f:count()} > 0">
			<f:render partial="Module/SelectFieldsGroup" arguments="{fields: fields.global, groupLabel: 'Global Fields', groupName: 'global'}" />
		</f:if>

		<f:if condition="{fields.custom -> f:count()} > 0">
			<f:render partial="Module/SelectFieldsGroup" arguments="{fields: fields.custom, groupLabel: 'Custom Fields', groupName: 'custom'}" />
		</f:if>

		<f:if condition="{fields.system -> f:count()} > 0">
			<f:render partial="Module/SelectFieldsGroup" arguments="{fields: fields.system, groupLabel: 'System Fields', groupName: 'system'}" />
		</f:if>
		<div class="form-group">
			<f:form.submit value="{f:translate(key: 'button.export')}" class="btn btn-default btn-sm" />
		</div>
		
	</f:form>
	<f:link.action action="index"><f:translate key="label.back" /></f:link.action>
</f:section>
